.header {
    height: 60px;
    padding: 20px;
    background: rgb(5, 116, 148);
}

.header__container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header__container a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0 20px;
}