@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
* {
    font-family: 'Open Sans', sans-serif!important;
    box-sizing: border-box!important;
}
body {
    padding: 0;
    margin: 0;
    min-height: 600px;
    height: 100vh;
}

.container {
    margin: 30px auto;
}

.session {
    width: 500px;
    height: 350px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 1px 10px #afafaf;
}

.session__title {
    text-align: center;
    padding: 10px;
}

.session__title h2 {
    font-weight: 600;
    color: #4b4b4b;
}

.session__fields {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.registration {
    width: 500px;
    margin: 50px auto;
}

.control-group {
    margin: 10px 0;
}
